*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$primary: #1f1f1f;
$secondary: #fdba74;
$positive: #00afb9;
$accent: #818cf8;
$danger: #ef4444;
$dark: #171717;
$gray: #6b7280;
$light: #fafafa;
$lighter: #e5e7eb;

$show-home-image: true;
$home-image: url("../img/bg.jpg");
$background-opacity: 0.9;

@mixin easeOut {
  transition: all 0.3s ease-out;
}

@mixin background {
  @if $show-home-image {
    &#bg-img {
      background: $home-image;
      background-attachment: fixed;
      background-size: cover;
      background-position: top;
      background-repeat: none;
      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba($primary, $background-opacity);
        z-index: -1;
      }
    }
  }
}
