@import "config";
@import "menu";

body {
  @include background;
  background: $primary;
  font-family: "Albert Sans", "Courier New", Courier, monospace;
  line-height: 1.5;
  color: $light;
  height: 100%;
  margin: 0;
}

// Headings
h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;
  &.lg-heading {
    font-size: 6rem;
  }
  &.sm-heading {
    font-size: 2rem;
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    background-color: rgba(lighten($primary, 3), 0.5);
    display: inline-block;
  }
}

a {
  color: $light;
  text-decoration: none;
}

header {
  position: fixed;
  z-index: 2;
}

.text-secondary {
  color: $positive;
}

main {
  padding: 4rem;
  height: 100%;
  .icons {
    margin-top: 1rem;
    a {
      padding: 0.4rem;

      &:hover {
        color: $positive;
        @include easeOut();
      }
    }
  }
  &#home {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80vh;
  }
}
